:root{
    /*aqui van los valores de los colores*/
   
  --color1: #FFFFFF;
  --color1_: #00000056;
  --color2: #AC0000;
  --color2_: #FA9917;
  --color3_: #F2F2F2;
  --color4: #2AC940;
  --color4_: #BEBEBE;
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido: 45px;
  --fuente-delgada: 300;
  --fuente-media: 500;
  --fuente-gruesa: 600;
}
*{
    margin: 0%;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;

}  
header{
    width: 100%;
    height: 1000px;
    display: flex;
}
.div-menu{
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: start;
}
.busqueda-container{
    width: 100%;
    height: 100px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.144);
}
.div-busqueda{
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 0;
    display: flex;
    align-items: center;
}
.cuadro-busqueda{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    text-align: end;
    background-color: rgba(0, 0, 0, 0.11);
}
.search-icon{
    padding-right: 30px;
    padding-top: 8px;
}
.section-img{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.041);
}
#sectio-img-principal{
    width: 50%;
    height: 100%;
    background: url(../img/main-image.png);
    background-position: center;
    background-attachment: contain;
    background-size: 85%;
    background-repeat: no-repeat;
}
#sectio-inf-principal{
    width: 50%;
    height: 100%;
    display: inline-block;
    justify-content:center;
    padding-top: 50px;
}
.perfil-section1{
    width: 100%;
    height: 25%;
    display: inline-block;
}

.titulo-img{
    font-weight: 500;
    font-size: 30px;
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.seccion-compartido{
    display: flex;
    height: 50%;
}
.visualizaciones{
    width: 15%;
    height: 90%;
    text-align: center;
}
.guardado{
    width: 15%;
    height: 90%;
    text-align: center;
}
.compartido{
    width: 15%;
    height: 90%;
    text-align: center;
}
.subinfo{
    font-weight: 100;
    font-size: 20px;
    color: var(--color4_);
}
.perfil-section2{
    width: 85%;
    height: 25%;
    display: flex;
    align-content: center;
}
.perfil-section3{
    width: 100%;
    height: 30%;
    display: inline-block;
    align-content: center;
}
.photos-comentarios{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid rgba(95, 95, 95, 0.548);
    display: flex;
}
#photos{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color2);
}
#coments{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.fotos-coleccion{
    height: 70%;
    width: 100%;
    border-bottom: 1px solid rgba(95, 95, 95, 0.548);
}
.coleccion{
    width: 100%;
    height: 45%;
    display: flex;
    margin-left: 15px;
}
.imagen{
    background-color: chartreuse;
    width: 8%;
    height: 100%;
}
#img1{
    background: url(../img/thumbnail01.png);
    background-attachment: contain;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
#img2{
    background: url(../img/thumbnail02.png);
    background-attachment: contain;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
#img3{
    background: url(../img/thumbnail03.png);
    background-attachment: contain;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
#img4{
    background: url(../img/thumbnail04.png);
    background-attachment: contain;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
#img5{
    background: url(../img/thumbnail06.png);
    background-attachment: contain;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
#img6{
    background: url(../img/thumbnail07.png);
    background-attachment: contain;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
#img7{
    background: url(../img/thumbnail08.png);
    background-attachment: contain;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
#img8{
    background: url(../img/thumbnail09.png);
    background-attachment: contain;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
#img9{
    background: url(../img/thumbnail10.png);
    background-attachment: contain;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
#img10{
    background: url(../img/thumbnail11.png);
    background-attachment: contain;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
.img-perfil{
    width: 20%;
    height: 100px;
    background: url(../img/profile.png);
    background-position: center;
    background-attachment: contain;
    background-size: 50%;
    padding: 10px;
    background-repeat: no-repeat;
}
.fotos-descripcion{
    font-weight: 100;
    font-size: 20px;
    color: var(--color4_);
    padding-left: 15px;
}
.fotos-descripcion_2{
    font-weight: 100;
    font-size: 20px;
    color: var(--color1_);
    padding-bottom: 25px;
    padding-left: 15px;
}

.foto-boton{
    width: 100%;
    height: 40%;   
}
.sectio-perfil1{
    width: 100%;
    height: 100px;
    padding: 10px;
}
.content-titulo-perfil{
    width: 100%;
    height: 100px;
    display: inline-block;
}
.titulo-perfil{
    width: 100%;
    height: 50px;
    font-weight: 800;
}
.subtitulo-perfil{
    width: 100%;
    height: 50px;
    font-weight: 500;
}
.boton-perfil{
    width: 20%;
    height: 50%;
    text-align: center;
    margin-top: 20px;
    
}
button{
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    border-style: none;
    background-color: var(--color2);
    color: var(--color1);
    font-size: 20px;
}
.info-perfil{
    font-weight: 100;
    font-size: 20px;
    width: 100%;
    height: 200px;
    color: var(--color4_);
}

#menu-container{
    width: 7%;
    height: 110%;
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
}

#slide-bar{
    height: 100%;
    width: 100%;
    display: block;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(59, 59, 59, 0.158);
}
.nav-slide{
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
#comentarios{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#logo{
    height: 25%;
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: 30px;
}
.section-menu{
    background-color: #AC0000;
    border-radius:  0px 20px 20px 0px;
    height: 40%;
    display: block;
    align-items: center;
}
.zonaRoja{
    height: 33%;
    display:flex;
    align-items: center;
    justify-content: center;

}
